.col-md-6.col-md-offset-4.well(style='margin-top: 10%; width: 500px;')
  h2 Login
  form(name='form', ng-submit='login()', role='form')
    .form-group()
      label(for='username') Username
      input#username.form-control(type='text', name='username', ng-model='userName', required='')
    .form-group()
      label(for='password') Password
      input#password.form-control(type='password', name='password', ng-model='password', required='')
    .form-actions
      button.btn.btn-primary(type='submit', ng-disabled='form.$invalid') Login
